<h1>
  Convert your currency
</h1>

<div *ngIf="error" class="error">On server happened error. Please, reload the page and try again, or connect with administrator.</div>

<form *ngIf="!error" #form="ngForm">
  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Select currency" [(ngModel)]="selectFirst" (ngModelChange)="changed('first')" name="selectFirst">
        <mat-option *ngFor="let currency of currencies" [value]="currency.short">{{currency.long}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your sum of money" [(ngModel)]="inputFirst" (ngModelChange)="changed('first')" pattern="^(?=.+)(?:[1-9]\d*|0)?(?:\.\d+)?$" name="inputFirst">
    </mat-form-field>
    <mat-card-actions>
      <button mat-button color="warn" (click)="reset('first')">Reset these fields</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Select currency" [(ngModel)]="selectSecond" (ngModelChange)="changed('second')" name="selectSecond">
        <mat-option *ngFor="let currency of currencies" [value]="currency.short">{{currency.long}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your sum of money" [(ngModel)]="inputSecond" (ngModelChange)="changed('second')" pattern="^(?=.+)(?:[1-9]\d*|0)?(?:\.\d+)?$" name="inputSecond">
    </mat-form-field>
    <mat-card-actions>
      <button mat-button color="warn" (click)="reset('second')">Reset these fields</button>
    </mat-card-actions>
  </mat-card>
</form>